.idea/
log/
*.log
bin/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
*.iml

.classpath
.project

**/.flattened-pom.xml
**/nb-configuration.xml
**.iml
**.flattened-pom.xml
**/nbactions.xml
testJsonSerialization.json
