# This workflow will build and publish documentation with docfx
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#apache-maven-with-a-settings-path

name: Documentation Publish

on:
  push:
    branches: 
      - main

jobs:
  build_docs:
    runs-on: ubuntu-latest
    name: Build and publish documentation
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Build docfx
      uses: nikeee/docfx-action@v1.0.0
      with:
        args: docs/docfx.json

    - name: Publish
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: docs/_site
        force_orphan: true
