# This workflow will build a package using Maven and then publish it to GitHub packages when a PR is accepted/new content is pushed
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#apache-maven-with-a-settings-path

name: Maven Publish Snapshot

on:
  push:
    branches: 
      - development

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'adopt'
        server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
        settings-path: ${{ github.workspace }} # location for the settings.xml file

    - name: Build with Maven
      run: mvn -B package --file pom.xml

    - name: Delete old dataformat-parent package
      uses: actions/delete-package-versions@v4
      continue-on-error: true
      with:
        package-name: 'io.admin-shell.aas.dataformat-parent'

    - name: Delete old dataformat-core package
      uses: actions/delete-package-versions@v4
      continue-on-error: true
      with:
        package-name: 'io.admin-shell.aas.dataformat-core'
    
    - name: Delete old dataformat-aasx package
      uses: actions/delete-package-versions@v4
      continue-on-error: true
      with:
        package-name: 'io.admin-shell.aas.dataformat-aasx'
        
    - name: Delete old dataformat-xml package
      uses: actions/delete-package-versions@v4
      continue-on-error: true
      with:
        package-name: 'io.admin-shell.aas.dataformat-xml'
        
    - name: Delete old dataformat-aml package
      uses: actions/delete-package-versions@v4
      continue-on-error: true
      with:
        package-name: 'io.admin-shell.aas.dataformat-aml'
        
    - name: Delete old dataformat-rdf package
      uses: actions/delete-package-versions@v4
      continue-on-error: true
      with:
        package-name: 'io.admin-shell.aas.dataformat-rdf'

    - name: Delete old dataformat-json package
      uses: actions/delete-package-versions@v4
      continue-on-error: true
      with:
        package-name: 'io.admin-shell.aas.dataformat-json'
        
    - name: Delete old validator package
      uses: actions/delete-package-versions@v4
      continue-on-error: true
      with:
        package-name: 'io.admin-shell.aas.validator'

    - name: Publish to GitHub Packages Apache Maven
      run: mvn deploy -s $GITHUB_WORKSPACE/settings.xml
      env:
        GITHUB_TOKEN: ${{ github.token }}
